<html style = "text-align:center">
	<head>
		<title>MOVIE RESERVATION</title>
		<h1>KIM's MOVIE RESERVATION</h1>
	</head>
	<body>
		<img src = "../movie.jpg">
		<br>
		<a href ='/reservation'>Enter reservation</a>
	</body>

</html>
